---
import ImageMod from "@/components/ImageMod.astro";
import config from "@/config/config.json";
import TrustedBrands from "./TrustedBrands.astro";

const banner = Astro.props.banner;

const {
  bannerImages,
  bulletpoints,
  example,
  content,
  newsletterButton,
  title,
  trustedBrands,
} = banner;
---

<section class="section ph-spacing bg-theme-light">
  <div class="container">
    <div class="flex flex-col items-center gap-16 text-center lg:gap-28">
      <div class="flex flex-col gap-y-8 lg:col-7">
        <div>
          <h1
            class="mb-5 editable"
            set:html={title}
            data-aos="fade-up-sm"
            data-aos-delay="0"
            data-cms-bind="#banner.title"
          />
          {
            content && (
              <p
                set:html={content}
                class="text-lg"
                data-aos="fade-up-sm"
                data-aos-delay="100"
              />
            )
          }
          <div id="example">{example ? example : "Something"}</div>
        </div>
        {
          newsletterButton && newsletterButton.enable && (
            <form
              action={config.newsletter.form_action}
              class="flex flex-col justify-center gap-3 mx-auto sm:flex-row col-10"
              data-aos="fade-up-sm"
              data-aos-delay="200"
            >
              <input
                type="email"
                name="email"
                required
                class=" placeholder:text-text rounded-full border-transparent focus:border-primary focus:outline-none focus:ring-0 px-6 lg:w-80 min-h-[50px]"
                placeholder={newsletterButton.formPlaceholder}
              />
              <button
                type="submit"
                class="py-5 font-semibold min-w-max btn btn-primary"
              >
                {newsletterButton.label}
              </button>
            </form>
          )
        }

        {
          bulletpoints && bulletpoints.length > 0 && (
            <ul
              class="flex flex-col items-center justify-center gap-5 text-left green-tick-list md:flex-row md:gap-10"
              data-aos="fade-up-sm"
              data-aos-delay="200"
            >
              {bulletpoints.map((point) => (
                <li set:html={point} class="text-dark" />
              ))}
            </ul>
          )
        }
      </div>
      {
        bannerImages && (
          <div class="grid w-full grid-cols-12 gap-5">
            <div
              data-aos="fade-up-sm"
              data-aos-delay="200"
              class="w-full h-full col-span-5"
            >
              <ImageMod
                src={bannerImages.left}
                alt="Banner Image"
                class="object-cover w-full h-full rounded-2xl"
                width={500}
                height={400}
              />
            </div>

            <div
              class="w-full h-full col-span-3"
              data-aos="fade-up-sm"
              data-aos-delay="350"
            >
              <ImageMod
                src={bannerImages.center}
                alt="Banner Image"
                class="object-cover w-full h-full rounded-2xl"
                width={300}
                height={400}
              />
            </div>
            <div
              class="w-full h-full col-span-4"
              data-aos="fade-up-sm"
              data-aos-delay="500"
            >
              <ImageMod
                src={bannerImages.right}
                alt="Banner Image"
                class="object-cover w-full h-full rounded-2xl"
                width={400}
                height={400}
              />
            </div>
          </div>
        )
      }
      <TrustedBrands title={trustedBrands.title} images={trustedBrands} />
    </div>
  </div>
</section>
